{syntax double}protected function createComponentChangeSelect() {
		$form = new Form();
		$form->addHidden('primaryKey', $this->primaryKey);
		{{foreach $inputs as $input}}
		$form{{$input|noescape}}
		{{/foreach}}
		$form->addSubmit('send', $this->translator->translate('generator.common.component.control.save'));
		$form->onSuccess[] = $this->changeSubmit;
		if ($this->primaryKey) $form->setDefaults($this->repository->get($this->primaryKey) ?: []);    
		return $form;
	}